/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    margin: 2%;
    padding: 0;
    text-align: justify;
}
.header-image-container {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.header-image-container img {
    width: 100%;
    height: auto;
}

.header-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.header-sub-text {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* 每行的间隔 */
}

/* 行样式 */
.row {
    display: flex;
    flex-direction: row;
    align-items: center; /* 保证两列内容在垂直方向对齐 */
    justify-content: space-between;
    gap: 20px; /* 左右列间的间距 */
    height: auto; /* 行高动态调整 */
}

/* 左侧文字样式 */
.text {
    flex: 1;
    margin: 2%; /* 清除外边距 */
    display: flex;
    flex-direction: column; /* 内容垂直排列 */
    justify-content: center; /* 保证内容垂直居中 */
    height: 100%; /* 确保容器具有高度 */
}
.text p {
    margin: 0; /* 去除默认外边距 */
    padding: 10px; /* 根据需要调整内边距 */
    font-size: 16px; /* 设置文字大小 */
    line-height: 1.5; /* 行高，增强可读性 */
}

/* 右侧 Tableau 图表样式 */
.tableau {
    flex: 2;
    display: flex;
    justify-content: center; /* 水平居中图表 */
    align-items: center; /* 垂直居中图表 */
}

/* 控制图表宽度 */
.tableauPlaceholder {
    width: 100%; /* 图表宽度占满父容器 */
}
/* 右侧图片样式 */
.image {
    flex: 2;
    display: flex;
    justify-content: center; /* 水平居中图片 */
    align-items: center; /* 垂直居中图片 */
}
.image img {
    max-width: 40%; /* 确保图片不会超出父容器宽度 */
    height: auto; /* 按比例缩放图片 */
    border-radius: 5px; /* 可选：圆角 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 可选：添加阴影 */
}
